.vs/CursoCSharp/v16/Server/sqlite3/storage.ide
.vs/CursoCSharp/DesignTimeBuild/.dtbcache
.vs/CursoCSharp/v16/.suo
.vs/CursoCSharp/v16/Server/sqlite3/db.lock
.vs/CursoCSharp/v16/Server/sqlite3/storage.ide-shm
bin/Debug/netcoreapp2.1/CursoCSharp.pdb
obj/Debug/netcoreapp2.1/CursoCSharp.dll
obj/Debug/netcoreapp2.1/CursoCSharp.dll
obj/Debug/netcoreapp2.1/CursoCSharp.dll
obj/Debug/netcoreapp2.1/CursoCSharp.csproj.CoreCompileInputs.cache
bin/Debug/netcoreapp2.1/CursoCSharp.pdb
.vs/CursoCSharp/v16/Server/sqlite3/storage.ide-wal